body{
    background-color: black;
}
h1{
    color: white;
}
div{
    text-align: center;
}
button {
    height: 1cm;
    width: 3cm;
    border: none;
    background-color: white;
}
button :hover{
    cursor: pointer;
}
.start-btn{
    background-color: green;
}

.pause-btn{
    background-color: gray;
}

.stop-btn{
    background-color: red;
}
